<?xml version="1.0" encoding="UTF-8"?>
<!--
这是Spring的全局配置文件，作用范围为整个项目
(注意我说的是Spring，不是SpringMVC)
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 自动扫描注解 -->
    <context:component-scan base-package="com.wqlm.ssm" />

    <!-- 读取数据库配置文件 -->
    <context:property-placeholder location="classpath:db.properties" />

    <!--+++++++++++++++++++++++++++++++++++++++++++++配置druid数据源++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 数据库基本信息配置 -->
        <property name="driverClassName" value = "${druid.driverClassName}" />
        <property name="url" value="${druid.url}" />
        <property name="username" value="${druid.username}" />
        <property name="password" value="${druid.password}" />

        <!-- 初始化连接数量 -->
        <property name="initialSize" value="${druid.initialSize}" />
        <!-- 最小空闲连接数 -->
        <property name="minIdle" value="${druid.minIdle}" />
        <!-- 最大并发连接数 -->
        <property name="maxActive" value="${druid.maxActive}" />
        <!-- 获取连接等待超时的时间 -->
        <property name="maxWait" value="${druid.maxWait}" />

        <!-- 间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="${druid.timeBetweenEvictionRunsMillis}" />

        <!-- 一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}" />

        <!--用来检测连接是否有效的查询sql-->
        <property name="validationQuery" value="${druid.validationQuery}" />
        <property name="testWhileIdle" value="${druid.testWhileIdle}" />
        <!--是否在申请连接时执行validationQuery-->
        <property name="testOnBorrow" value="${druid.testOnBorrow}" />
        <!--是否在归还连接时执行validationQuery-->
        <property name="testOnReturn" value="${druid.testOnReturn}" />

        <!--是否缓存preparedStatement，也就是PSCache-->
        <property name="poolPreparedStatements" value="${druid.poolPreparedStatements}" />
        <!--个连接上PSCache的大小-->
        <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.maxPoolPreparedStatementPerConnectionSize}" />

        <!-- 配置监控统计拦截的filters -->
        <property name="filters" value="${druid.filters}" />
    </bean>
    <!--+++++++++++++++++++++++++++++++++++++++++++++配置druid数据源++++++++++++++++++++++++++++++++++++++++++++++++++-->


    <!--++++++++++++++++++++++++++++++++++++++++++++++++配置Mybatis++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- 配置MyBatis的SqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 绑定数据源 -->
        <property name="dataSource" ref="dataSource" />
        <!-- 自动扫描 mapping.xml 文件 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
        <!--更加细致的配置mybatis，也可以不要次属性，使用mybatis默认配置-->
        <property name="configLocation"  value="classpath:mybatis-config.xml"/>
    </bean>

    <!-- 装配mapper接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--扫描、配置mapper接口-->
        <property name="basePackage" value="com.wqlm.ssm.mapper" />
        <!--引入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
    <!--++++++++++++++++++++++++++++++++++++++++++++++++配置Mybatis++++++++++++++++++++++++++++++++++++++++++++++++++-->


    <!-- spring 事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!--&lt;!&ndash;通知&ndash;&gt;
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            &lt;!&ndash; 传播行为 &ndash;&gt;
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="create*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="find*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="select*" propagation="SUPPORTS" read-only="true" />
            <tx:method name="get*" propagation="SUPPORTS" read-only="true" />
        </tx:attributes>
    </tx:advice>

    &lt;!&ndash; AOP 切面 &ndash;&gt;
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.wqlm.ssm.service.*.*(..))" />
    </aop:config>-->


</beans>